
body {
    --margin-prct: 15%;
    margin-right: var(--margin-prct);
    margin-left: var(--margin-prct);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-image: url("Images/Blå_slange.jpg");
}

p {
}

aside {
    float: right;
}